
.site-logo {
    text-indent: 0
}

.flxb-button.flxb-docked:not(.flxb-dock-full) {
    top: calc(75% - 100px);
}

.page-body {
    left: 0 !important;
    padding-left: 0;
    width: 100% !important;
}

.breadcrumb {
background-color: transparent !important;
color: #222;
font-size: 15px;
margin: 10px 0 30px;
padding: 0 !important;
}

.breadcrumb ol li:before {
    content: ">";
    padding: 0px 8px;
}

div.breadcrumb a {
 color: #222;
}

div.breadcrumb a:hover {
 color: #222;
 text-decoration: underline !important;
}

.page-body {
    padding: 0 16px;
}

.page-body h1 {
  color: #002e6f;
    font-family: "Arial Bold", Gadget, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 15px 0 25px 0;
 }
 

select {
    outline: none;
    -moz-appearance: none;
    text-indent: .01px;
    text-overflow: "";
    -webkit-appearance: none;
    appearance: none;
}
 
 nav {
     margin-top: 30px;
 }
 
 nav select {
     font-size: 18px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 30px;
    padding: 0 60px 0 22px;
    border-radius: 5px;
    font-family: "Open Sans",arial;
    color: #333;
    background: #ececec url(pink-arrow.png) no-repeat right;
    background-size: 54px 54px;
    border: 1px solid #bcbcbc;
    height: 50px;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.pnlAdverts {
    padding: 30px 0;
    margin: 0;
    text-align: center;
}

.nav-wrapper .pnlAdverts {
    display: none;
}

.pnlAdverts img {
    width: 288px;
    max-width: 288px;
}

@media only screen and (min-width: 992px) {
    
.nav-wrapper .pnlAdverts {
    display:block;
    text-align: left;
}  

 nav select {
    width: 95%;
}

.page-body .pnlAdverts {
    display: none;
}

.pnlAdverts img {
    max-width: 95%
}
}


